#chat {
  display: none;
  background-color: white;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
}

#message-container {
  width: 100%;
  height: 260px;
  margin: 0px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

#chat input {
  display: block;
  width: 90%;
  margin: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}

#chat button {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  width: 90%;
  border: none;
  background-color: #4287f5;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

#chat input::placeholder {
  color: black;
}

#chat #next-con {
  width: 90%;
  background-color: #38b547;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#chat #ready {
  margin-top: 10px;
  background-color: #38b547;
}

#chat #looking-for {
  text-align: center;
  display: none;
  opacity: 0;
  margin-top: 20px;
}

#connected-to {
  display: none;
  opacity: 0;
  padding-top: 10px;
  padding-left: 10px;
  background-color: transparent;
}

#chat #connected-to img {
  width: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.message {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
  width: 50%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
}

.user {
  float: right;
  margin-right: 10px;
  background-color: #4287f5;
  color: white;
}

.oponent {
  float: left;
  margin-left: 10px;
  background-color: lightgray;
}

#controls {
  display: none;
  opacity: 0;
}